In [1]:
import numpy as np
from numpy import linalg as la

In [2]:
a1=np.array([1,2])
a2=np.array([[3,4],[5,6]])
a3=np.array([[[9,7],[2,3]]])
a4=np.array([[[[2,5],[9,8]]]])
a5=np.array([[[[[6,4],[2,5]]]]])

In [3]:
print(a1)
print(a2)
print(a3)
print(a4)
print(a5)

[1 2]
[[3 4]
 [5 6]]
[[[9 7]
  [2 3]]]
[[[[2 5]
   [9 8]]]]
[[[[[6 4]
    [2 5]]]]]

In [4]:
print(la.det(a3))

[13.]

In [5]:
print(la.det(a4))

[[-29.]]

In [6]:
print(la.inv(a3))

[[[ 0.23076923 -0.53846154]
  [-0.15384615  0.69230769]]]

In [7]:
print(la.inv(a4))

[[[[-0.27586207  0.17241379]
   [ 0.31034483 -0.06896552]]]]

In [8]:
print(la.inv(a5))

[[[[[ 0.22727273 -0.18181818]
    [-0.09090909  0.27272727]]]]]

In [9]:
print(la.matrix_rank(a1)

SyntaxError: incomplete input (3998179277.py, line 1)

In [10]:
print(la.matrix_rank(a1))

1

In [11]:
print(la.matrix_rank(a2))

2

In [12]:
print(la.matrix_rank(a3))

[2]

In [13]:
print(la.matrix_rank(a4))

[[2]]

In [14]:
print(la.matrix_rank(a5))

[[[2]]]

In [15]:
print(np.trace(a2))

9

In [16]:
print(np.trace(a3))

[9 7]

In [17]:
print(np.trace(a4))

[[2 5]
 [9 8]]

In [18]:
print(np.trace(a5))

[[[6 4]
  [2 5]]]

In [19]:
print(np.diag(a1))

[[1 0]
 [0 2]]

In [20]:
print(np.diag(a2))

[3 6]

In [23]:
#print(np.diag(a3))

In [24]:
x,y=la.eig(a2)
print("Roots:",x)
print("Vectors:",y)

Roots: [-0.21699057  9.21699057]
Vectors: [[-0.77925158 -0.54107946]
 [ 0.62671124 -0.84097147]]

In [25]:
x,y=la.eig(a3)
print("Roots:",x)
print("Vectors:",y)

Roots: [[10.79583152  1.20416848]]
Vectors: [[[ 0.96863191 -0.66810749]
  [ 0.24849996  0.74406477]]]

In [26]:
x,y=la.eig(a4)
print("Roots:",x)
print("Vectors:",y)

Roots: [[[-2.34846923 12.34846923]]]
Vectors: [[[[-0.75455746 -0.43504451]
   [ 0.65623398 -0.90040895]]]]

In [27]:
x,y=la.eig(a5)
print("Roots:",x)
print("Vectors:",y)

Roots: [[[[8.37228132 2.62771868]]]]
Vectors: [[[[[ 0.86011126 -0.76454754]
    [ 0.51010647  0.64456735]]]]]

In [28]:
print(la.eigvals(a2))

[-0.21699057  9.21699057]

In [29]:
print(la.eigvals(a3))

[[10.79583152  1.20416848]]

In [30]:
print(la.eigvals(a4))

[[[-2.34846923 12.34846923]]]

In [31]:
print(la.eigvals(a5))

[[[[8.37228132 2.62771868]]]]

In [40]:
import pandas as pd
data=pd.read_csv(r"C:\Users\scet\Downloads\1_2015.csv")

In [41]:
data.describe()

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,79.493671,5.375734,0.047885,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296,2.098977
std,45.754363,1.145010,0.017146,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685,0.553550
min,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,40.250000,4.526000,0.037268,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553,1.759410
50%,79.500000,5.232500,0.043940,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130,2.095415
75%,118.750000,6.243750,0.052300,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883,2.462415
max,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

In [42]:
print("\nSum:\n",data.sum())

Sum:
 Country                          SwitzerlandIcelandDenmarkNorwayCanadaFinlandNe...
Region                           Western EuropeWestern EuropeWestern EuropeWest...
Happiness Rank                                                               12560
Happiness Score                                                            849.366
Standard Error                                                             7.56579
Economy (GDP per Capita)                                                 133.68968
Family                                                                   156.58526
Health (Life Expectancy)                                                  99.58098
Freedom                                                                   67.72116
Trust (Government Corruption)                                             22.66065
Generosity                                                                37.49269
Dystopia Residual                                                        331.63833
dtype: object

In [43]:
print("\nCummulativeSum:\n",data.cumsum())

CummulativeSum:
                                                Country  \
0                                          Switzerland
1                                   SwitzerlandIceland
2                            SwitzerlandIcelandDenmark
3                      SwitzerlandIcelandDenmarkNorway
4                SwitzerlandIcelandDenmarkNorwayCanada
..                                                 ...
153  SwitzerlandIcelandDenmarkNorwayCanadaFinlandNe...
154  SwitzerlandIcelandDenmarkNorwayCanadaFinlandNe...
155  SwitzerlandIcelandDenmarkNorwayCanadaFinlandNe...
156  SwitzerlandIcelandDenmarkNorwayCanadaFinlandNe...
157  SwitzerlandIcelandDenmarkNorwayCanadaFinlandNe...

                                                Region  Happiness Rank  \
0                                       Western Europe               1
1                         Western EuropeWestern Europe               3
2           Western EuropeWestern EuropeWestern Europe               6
3    Western EuropeWestern EuropeWestern EuropeWest...              10
4    Western EuropeWestern EuropeWestern EuropeWest...              15
..                                                 ...             ...
153  Western EuropeWestern EuropeWestern EuropeWest...           11934
154  Western EuropeWestern EuropeWestern EuropeWest...           12089
155  Western EuropeWestern EuropeWestern EuropeWest...           12245
156  Western EuropeWestern EuropeWestern EuropeWest...           12402
157  Western EuropeWestern EuropeWestern EuropeWest...           12560

     Happiness Score  Standard Error  Economy (GDP per Capita)     Family  \
0              7.587         0.03411                   1.39651    1.34951
1             15.148         0.08295                   2.69883    2.75174
2             22.675         0.11623                   4.02431    4.11232
3             30.197         0.15503                   5.48331    5.44327
4             37.624         0.19056                   6.80960    6.76588
..               ...             ...                       ...        ...
153          837.276         7.32523                 132.51585  155.20069
154          840.616         7.36179                 132.80250  155.55455
155          843.622         7.41194                 133.46570  156.02944
156          846.527         7.49852                 133.48100  156.44531
157          849.366         7.56579                 133.68968  156.58526

     Health (Life Expectancy)   Freedom  Trust (Government Corruption)  \
0                     0.94143   0.66557                        0.41978
1                     1.88927   1.29434                        0.56123
2                     2.76391   1.94372                        1.04480
3                     3.64912   2.61345                        1.40983
4                     4.55475   3.24642                        1.73940
..                        ...       ...                            ...
153                  98.03156  66.59679                       22.18356
154                  98.35066  67.08129                       22.26366
155                  99.07259  67.23813                       22.45272
156                  99.29655  67.35663                       22.55334
157                  99.58098  67.72116                       22.66065

     Generosity  Dystopia Residual
0       0.29678            2.51738
1       0.73308            5.21939
2       1.07447            7.71143
3       1.42146           10.17674
4       1.87957           12.62850
..          ...                ...
153    36.47422          326.27619
154    36.65682          327.90947
155    37.12861          328.23805
156    37.32588          330.07107
157    37.49269          331.63833

[158 rows x 12 columns]

In [44]:
print("\nCount:\n",data.count())

Count:
 Country                          158
Region                           158
Happiness Rank                   158
Happiness Score                  158
Standard Error                   158
Economy (GDP per Capita)         158
Family                           158
Health (Life Expectancy)         158
Freedom                          158
Trust (Government Corruption)    158
Generosity                       158
Dystopia Residual                158
dtype: int64

In [45]:
print("\nMax:\n",data.max())

Max:
 Country                                Zimbabwe
Region                           Western Europe
Happiness Rank                              158
Happiness Score                           7.587
Standard Error                          0.13693
Economy (GDP per Capita)                1.69042
Family                                  1.40223
Health (Life Expectancy)                1.02525
Freedom                                 0.66973
Trust (Government Corruption)           0.55191
Generosity                              0.79588
Dystopia Residual                       3.60214
dtype: object

In [46]:
print("\nMin:\n",data.min())

Min:
 Country                                        Afghanistan
Region                           Australia and New Zealand
Happiness Rank                                           1
Happiness Score                                      2.839
Standard Error                                     0.01848
Economy (GDP per Capita)                               0.0
Family                                                 0.0
Health (Life Expectancy)                               0.0
Freedom                                                0.0
Trust (Government Corruption)                          0.0
Generosity                                             0.0
Dystopia Residual                                  0.32858
dtype: object

In [48]:
data.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [49]:
data.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [56]:
new_data=data.drop(["Country","Region"],axis=1)
#print("\nMean:\n",new_data.mean())

In [57]:
print("\nMean:\n",new_data.mean())

Mean:
 Happiness Rank                   79.493671
Happiness Score                   5.375734
Standard Error                    0.047885
Economy (GDP per Capita)          0.846137
Family                            0.991046
Health (Life Expectancy)          0.630259
Freedom                           0.428615
Trust (Government Corruption)     0.143422
Generosity                        0.237296
Dystopia Residual                 2.098977
dtype: float64

In [58]:
#print("\nMean:\n",new_data.mean())

In [59]:
print("\nMean:\n",new_data.mode())

Mean:
      Happiness Rank  Happiness Score  Standard Error  \
0              82.0            5.192         0.03751
1               NaN              NaN         0.03780
2               NaN              NaN         0.04394
3               NaN              NaN         0.04934
4               NaN              NaN         0.05051
..              ...              ...             ...
153             NaN              NaN             NaN
154             NaN              NaN             NaN
155             NaN              NaN             NaN
156             NaN              NaN             NaN
157             NaN              NaN             NaN

     Economy (GDP per Capita)   Family  Health (Life Expectancy)  Freedom  \
0                     0.00000  0.00000                   0.92356  0.00000
1                     0.01530  0.13995                       NaN  0.07699
2                     0.01604  0.30285                       NaN  0.09245
3                     0.06940  0.35386                       NaN  0.10081
4                     0.07120  0.38174                       NaN  0.10384
..                        ...      ...                       ...      ...
153                   1.45900  1.34043                       NaN  0.65821
154                   1.52186  1.34951                       NaN  0.65980
155                   1.55422  1.36058                       NaN  0.66246
156                   1.56391  1.36948                       NaN  0.66557
157                   1.69042  1.40223                       NaN  0.66973

     Trust (Government Corruption)  Generosity  Dystopia Residual
0                          0.32524     0.00000            0.32858
1                              NaN     0.00199            0.65429
2                              NaN     0.02641            0.67042
3                              NaN     0.05444            0.67108
4                              NaN     0.05547            0.89991
..                             ...         ...                ...
153                            NaN     0.51535            3.10712
154                            NaN     0.51752            3.17728
155                            NaN     0.51912            3.19131
156                            NaN     0.57630            3.26001
157                            NaN     0.79588            3.60214

[158 rows x 10 columns]

In [60]:
print("\nMean:\n",new_data.median())

Mean:
 Happiness Rank                   79.500000
Happiness Score                   5.232500
Standard Error                    0.043940
Economy (GDP per Capita)          0.910245
Family                            1.029510
Health (Life Expectancy)          0.696705
Freedom                           0.435515
Trust (Government Corruption)     0.107220
Generosity                        0.216130
Dystopia Residual                 2.095415
dtype: float64

In [61]:
from numpy import cov

In [62]:
data1=data.Family
data2=data.Freedom
data1
data2

0      0.66557
1      0.62877
2      0.64938
3      0.66973
4      0.63297
        ...
153    0.59201
154    0.48450
155    0.15684
156    0.11850
157    0.36453
Name: Freedom, Length: 158, dtype: float64

In [63]:
covariance=cov(data1,data2)
print(covariance)

[[0.07418492 0.0181217 ]
 [0.0181217  0.02270832]]

In [64]:
#correlation
from scipy.stats import pearsonr
data1=data.Family
data2=data.Freedom
corr,_=pearsonr(data1,data2)
print(corr)

0.44151821062286056

In [65]:

#correlation
from scipy.stats import pearsonr
data1=data.Family
data2=data.Freedom
corr,_=pearsonr(data1,data2)
print(corr)

0.44151821062286056

In [72]:
import pandas as pd
data2=pd.read_csv(r"C:\Users\scet\Downloads\4_Drug200.csv")
data2

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  drugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  drugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [73]:
print(data2.sum())

Age                                                         8863
Sex            FMMFFFFMMMFFMFFFMMMFMMMFFFMFFMFMMFMMMMFMFFMMFF...
BP             HIGHLOWLOWNORMALLOWNORMALNORMALLOWNORMALLOWLOW...
Cholesterol    HIGHHIGHHIGHHIGHHIGHHIGHHIGHHIGHHIGHNORMALHIGH...
Na_to_K                                                 3216.897
Drug           drugYdrugCdrugCdrugXdrugYdrugXdrugYdrugCdrugYd...
dtype: object

In [74]:
print(data2.cumsum())

      Age                                                Sex  \
0      23                                                  F
1      70                                                 FM
2     117                                                FMM
3     145                                               FMMF
4     206                                              FMMFF
..    ...                                                ...
195  8732  FMMFFFFMMMFFMFFFMMMFMMMFFFMFFMFMMFMMMMFMFFMMFF...
196  8748  FMMFFFFMMMFFMFFFMMMFMMMFFFMFFMFMMFMMMMFMFFMMFF...
197  8800  FMMFFFFMMMFFMFFFMMMFMMMFFFMFFMFMMFMMMMFMFFMMFF...
198  8823  FMMFFFFMMMFFMFFFMMMFMMMFFFMFFMFMMFMMMMFMFFMMFF...
199  8863  FMMFFFFMMMFFMFFFMMMFMMMFFFMFFMFMMFMMMMFMFFMMFF...

                                                    BP  \
0                                                 HIGH
1                                              HIGHLOW
2                                           HIGHLOWLOW
3                                     HIGHLOWLOWNORMAL
4                                  HIGHLOWLOWNORMALLOW
..                                                 ...
195  HIGHLOWLOWNORMALLOWNORMALNORMALLOWNORMALLOWLOW...
196  HIGHLOWLOWNORMALLOWNORMALNORMALLOWNORMALLOWLOW...
197  HIGHLOWLOWNORMALLOWNORMALNORMALLOWNORMALLOWLOW...
198  HIGHLOWLOWNORMALLOWNORMALNORMALLOWNORMALLOWLOW...
199  HIGHLOWLOWNORMALLOWNORMALNORMALLOWNORMALLOWLOW...

                                           Cholesterol   Na_to_K  \
0                                                 HIGH    25.355
1                                             HIGHHIGH    38.448
2                                         HIGHHIGHHIGH    48.562
3                                     HIGHHIGHHIGHHIGH    56.360
4                                 HIGHHIGHHIGHHIGHHIGH    74.403
..                                                 ...       ...
195  HIGHHIGHHIGHHIGHHIGHHIGHHIGHHIGHHIGHNORMALHIGH...  3169.628
196  HIGHHIGHHIGHHIGHHIGHHIGHHIGHHIGHHIGHNORMALHIGH...  3181.634
197  HIGHHIGHHIGHHIGHHIGHHIGHHIGHHIGHHIGHNORMALHIGH...  3191.528
198  HIGHHIGHHIGHHIGHHIGHHIGHHIGHHIGHHIGHNORMALHIGH...  3205.548
199  HIGHHIGHHIGHHIGHHIGHHIGHHIGHHIGHHIGHNORMALHIGH...  3216.897

                                                  Drug
0                                                drugY
1                                           drugYdrugC
2                                      drugYdrugCdrugC
3                                 drugYdrugCdrugCdrugX
4                            drugYdrugCdrugCdrugXdrugY
..                                                 ...
195  drugYdrugCdrugCdrugXdrugYdrugXdrugYdrugCdrugYd...
196  drugYdrugCdrugCdrugXdrugYdrugXdrugYdrugCdrugYd...
197  drugYdrugCdrugCdrugXdrugYdrugXdrugYdrugCdrugYd...
198  drugYdrugCdrugCdrugXdrugYdrugXdrugYdrugCdrugYd...
199  drugYdrugCdrugCdrugXdrugYdrugXdrugYdrugCdrugYd...

[200 rows x 6 columns]

In [75]:
print(data2.count())

Age            200
Sex            200
BP             200
Cholesterol    200
Na_to_K        200
Drug           200
dtype: int64

In [76]:
print(data2.min())

Age               15
Sex                F
BP              HIGH
Cholesterol     HIGH
Na_to_K        6.269
Drug           drugA
dtype: object

In [77]:
print(data2.max())

Age                74
Sex                 M
BP             NORMAL
Cholesterol    NORMAL
Na_to_K        38.247
Drug            drugY
dtype: object

In [78]:
#Changing High, Normal and Low to 2, 1 and 0 respectively...
BP = {"BP":{"LOW":0,"NORMAL":1,"HIGH":2}}
data2 = data2.replace(BP)
Cholesterol = {"Cholesterol":{"LOW":0,"NORMAL":1,"HIGH":2}}
data2 = data2.replace(Cholesterol)
data2

     Age Sex  BP  Cholesterol  Na_to_K   Drug
0     23   F   2            2   25.355  drugY
1     47   M   0            2   13.093  drugC
2     47   M   0            2   10.114  drugC
3     28   F   1            2    7.798  drugX
4     61   F   0            2   18.043  drugY
..   ...  ..  ..          ...      ...    ...
195   56   F   0            2   11.567  drugC
196   16   M   0            2   12.006  drugC
197   52   M   1            2    9.894  drugX
198   23   M   1            1   14.020  drugX
199   40   F   0            1   11.349  drugX

[200 rows x 6 columns]

In [80]:
new_data2=data2.drop(["Drug","Sex"],axis=1)

In [81]:
print(new_data2.mean())

Age            44.315000
BP              1.065000
Cholesterol     1.515000
Na_to_K        16.084485
dtype: float64

In [82]:
print(new_data2.mode())

    Age   BP  Cholesterol  Na_to_K
0  47.0  2.0          2.0   12.006
1   NaN  NaN          NaN   18.295

In [83]:
print(new_data2.median())

Age            45.0000
BP              1.0000
Cholesterol     2.0000
Na_to_K        13.9365
dtype: float64

In [84]:
print(new_data2.describe())

              Age          BP  Cholesterol     Na_to_K
count  200.000000  200.000000   200.000000  200.000000
mean    44.315000    1.065000     1.515000   16.084485
std     16.544315    0.839224     0.501029    7.223956
min     15.000000    0.000000     1.000000    6.269000
25%     31.000000    0.000000     1.000000   10.445500
50%     45.000000    1.000000     2.000000   13.936500
75%     58.000000    2.000000     2.000000   19.380000
max     74.000000    2.000000     2.000000   38.247000

In [85]:
from numpy import cov

In [87]:
data3=data2.Age
data4=data2.Cholesterol
print(data3)
print(data4)

0      23
1      47
2      47
3      28
4      61
       ..
195    56
196    16
197    52
198    23
199    40
Name: Age, Length: 200, dtype: int64
0      2
1      2
2      2
3      2
4      2
      ..
195    2
196    2
197    2
198    1
199    1
Name: Cholesterol, Length: 200, dtype: int64

In [89]:
covariance=cov(data3,data4)
print(covariance)

[[2.73714347e+02 5.65603015e-01]
 [5.65603015e-01 2.51030151e-01]]

In [90]:
#correlation
from scipy.stats import pearsonr
data3=data2.Age
data4=data2.Cholesterol
corr,_=pearsonr(data3,data4)
print(corr)

0.06823386810675444

In [91]:
#correlation
from scipy.stats import pearsonr
data3=data2.Age
data4=data2.Cholesterol
corr,_=pearsonr(data3,data4)
print(corr)

0.06823386810675444